<center>
  <% if flash[:notice] %>
    <%= flash[:notice] %>  
  <% end %>

  <video autoplay  poster="http://bit.ly/1HUHkcF" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="http://bit.ly/1HUHkcF" type="video/webm">
<source src="//bit.ly/1HUHkcF" type="video/mp4">
</video><br><br><br><br>

  <h1>Welcome to GuideMe!</h1><br>
  <h3>Connect with locals during your trips</h3>
  <p>
    <%= form_tag(search_path, :method => "get", class: "navbar-form") do %>
  <form id="searchbox" action=""> 
    <%= text_field_tag :search, params[:search], placeholder: "Search Places" %>
    <%= submit_tag "Search", :name => nil %>
    <% end %>
  </form>
  </p>

  <% if current_user == nil %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", :class => "label label-primary"%>
  <% end %><br>
</center>