<h1>This is the index</h1>

<div class="container">
   <div class="row">
 
     <div class="col-md-3">
 
      <% if current_user %>
        <img src="<%= current_user.image_url %>">
        <p>Welcome <%= current_user.name %>!<p>
        <p><%= current_user.description %></p>
        <p><%= current_user.location %></p>
        <p><%= current_user.nickname %></p>
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      <% end %>
    </div>
  </div>
</div>