<br><br><br><br>
<center>

  <legend><h1>Destination: <%=@trip.city.name%></h1></legend><br><br>
    <h4>Start date of your trip: <%=@trip.start_date.to_formatted_s(:long_ordinal)%></p></h4><br><br>
    <h4>End date of your trip: <%=@trip.end_date.to_formatted_s(:long_ordinal)%><br></h4><br><br>
  
  <%unless @trip.accepted_tours.empty?%> 
  <h3>Tours For Trip</h3>
  <h3>Confirmed:</h3>
    <%@trip.accepted_tours.each do |tour| %>
       <b><%=tour.activity.name%></b><br>
        Start time of tour: <%=tour.start_time.to_formatted_s(:long_ordinal)%><br>
        End time of tour: <%=tour.end_time.to_formatted_s(:long_ordinal)%>
    <%end%>
  <%end%>

  <%unless @trip.pending_tours.empty?%>   
    <h3> Pending:</h3>
    <%@trip.pending_tours.each do |tour| %>
      <h4><p><b><%=tour.activity.name%></b></p></h4><br>
        <h5><b>Start time of tour:</b></h5> <h4><%=tour.start_time.to_formatted_s(:long_ordinal)%></h4><br></h5>
        <h5><b>End time of tour:</b></h5> <h4><%=tour.end_time.to_formatted_s(:long_ordinal)%></h4><br>
    <%end%>
  <%end%>
  
  <% if @trip.start_date > Date.today %>
    <p><%= link_to "Find a Tour Guide", trip_guides_path(@trip), :class => "stephanie"%></p><br>
    <%= link_to "Edit Trip", edit_trip_path(@trip), :class => "stephanie" %>
    <%= link_to 'Delete Trip', trip_path(@trip), :method => :delete, :class => "stephanie"  %></center>
    <% else %>
    <%= link_to 'Delete Trip', trip_path(@trip), :method => :delete, :class => "stephanie"  %>
  <%end%>
</center>