<center><h1>Headed to: <%=@trip.city.name%></h1>
<p>Start date of trip: <%=@trip.start_date.to_formatted_s(:long_ordinal)%></p>
<p>End date of trip: <%=@trip.end_date.to_formatted_s(:long_ordinal)%></p></center><br>

<center><h3>Booked tours for your upcoming trip:</h3></center>

<p><%@trip.tours.each do |tour| %>
	<p><%=tour.activity.name%>

	<ul>
		<li>Start time of booked tour: <%=tour.start_time%></li>
		<li>End time of booked tour: <%=tour.end_time%></li>
	</ul>
<%end%>

<center><p><%= link_to "Find a Tour Guide", trip_users_path(@trip) %></p></center>


