
<center><h4><b> Availability </b></h4></center>
<% current_user.availabilities.each do |avail|%>
  <h4><%= avail.day.name %>
  <%= avail.start_time.strftime '%l:%M %P' %> -
  <%= avail.end_time.strftime '%l:%M %P' %></h4>
  <%if current_user == @guide%>
    <%= link_to "Edit", edit_availability_path(avail), :class => "danielle"%> 
    <%= link_to 'Destroy', availability_path(avail), :method => :delete, :class => "danielle"%> <br>
  <%end%>
<%end%><br>
