
<h4><b>Availability for Tours:</b></h4>
<% current_user.availabilities.each do |avail|%>
  <%= avail.day.name %>
  <%= avail.start_time.strftime '%l:%M %P' %> -
  <%= avail.end_time.strftime '%l:%M %P' %>
  <%if current_user%>
    <%= link_to "Edit", edit_availability_path(avail)%> |
    <%= link_to 'Destroy', availability_path(avail), :method => :delete %> <br>
  <%end%>
<%end%><br>
