<center>
  <h1 class="profile-name"> <%=@guide.name%></h1>  
    <div class="profile-bio">
    <% if @guide.avatar_url.nil?%>
      <img src="<%= @guide.image_url %>" height="72" weight="72">
    <%else%>
      <%=image_tag @guide.avatar_url(:thumb)%>
    <%end%>
    <p><h4><%= @guide.name %></h4></p>
    <p><b>Location: </b><p><%= @guide.city.name %></p>
    <p><b>Email:    </b><%= @guide.email %><br></p>
    <p>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </p>
    <%= render 'votes'%>
    <b>Location:</b>
      <p><%= @guide.city.name %></p>
    <b>Email:</b>
      </p><%= @guide.email %><br></p>

    <% if @trip %>
      <br>
      <b>
      All activities <%=@guide.name%> is Hosting:</br>
        <% @guide.activities.each do |activity| %>
          <%= link_to(activity.name, guide_activity_path(@trip,@guide,activity)) %>
        <%=form_for Tour.new do |f|%>
          <%= f.hidden_field :activity_id, value: activity.id%>
          <%= f.hidden_field :trip_id, value: @trip.id%>
        <%end%>
      <% end %>    
    <% else %>
    <br><b>All activities <%=@guide.name%> is Hosting:</br>
      <% @guide.activities.each do |activity| %>
        <%= activity.name %>
      <% end %>  
    <% end %>
    
    <%= render 'reviews' %>
    <% @guide.reviews.each do |review| %>
        <%= review.content %>
      <% end %> 





</center>