<center>
  <h1> <%=@guide.name%>'s Profile</h1>
  <legend>Personal Info:</legend> 
  
  <img src="<%= @guide.image_url %>" height="72" weight="72">
  <p><h4><%= @guide.name %></h4></p>
  <b>Location: </b><p><%= @guide.city.name %></p>
  <b>Email:    </b><%= @guide.email %><br></p>

  <br><b>All activities <%=@guide.name%> is Hosting:</br>
      <% @guide.activities.each do |activity| %>
        <%= link_to(activity.name, guide_activity_path(@trip,@guide,activity)) %>
      <%=form_for Tour.new do |f|%>
        <%= f.hidden_field :activity_id, value: activity.id%>
        <%= f.hidden_field :trip_id, value: @trip.id%>
      <%end%>
    <% end %>      

</center>