<br><br><br>
<center>
<legend><h1>Showing Guides in: <%=@trip.city.name%></h1></legend>
  
  <%@users.each do |user|%><br>
    <h4><%= link_to(user.name, trip_guide_path(@trip, user)) %></h4>
  

    <%if user.avatar_url.nil?%>
    <b><%= link_to(image_tag(user.image_url),trip_guide_path(@trip, user)) %><br>
    <%else%>        
        <%= link_to(image_tag(user.avatar_url(:thumb)),trip_guide_path(@trip, user)) %><br>
    <%end%>   


    <h4><%=user.description%></h4><br>
    <h5> Activities Hosting: </h5>

    <%user.activities.each do |activity|%>
    <h4><li><%=activity.name%><br></li></h4>

  <%end%> 
<%end%>
</center>