<center>
<h1>Showing Guides in: <%=@trip.city.name%></h1>
	<%@users.each do |user|%>
		<h2><%= link_to(user.name, trip_guide_path(@trip, user)) %></h2>
		
    <%if user.avatar_url.nil?%>
    <b><%= link_to(image_tag(user.image_url),trip_guide_path(@trip, user)) %><br>
    <%else%>	      
        <%= link_to(image_tag(user.avatar_url(:thumb)),trip_guide_path(@trip, user)) %><br>
    <%end%>   
		
    	<%=user.description%><br></b>
	
			<%user.activities.each do |activity|%>
			<h4><%=activity.name%><br></h4>
      
	<%end%>	
<%end%>
</center>
<div class="profile-container" data-profile-text="white" data-profile-bg="sea">
  <div class="profile-changer">
    <div class="profile-changer-trigger">
      <span class="ion-waterdrop"></span>
    </div>
    <div class="profile-changer-holder">
      <div class="profile-changer-texts">
        <div class="profile-text profile-text-black">t</div>
        <div class="profile-text profile-text-white">t</div>
      </div>
      <div class="profile-changer-bgs">
        <div class="profile-bg profile-bg-sea"><span class="ion-paintbucket"></span></div>
        <div class="profile-bg profile-bg-sunset"><span class="ion-paintbucket"></span></div>
        <div class="profile-bg profile-bg-royale"><span class="ion-paintbucket"></span></div>
      </div>
    </div>
  </div>
  <div class="profile">
    <img class="profile-avatar" src="//s3-us-west-2.amazonaws.com/s.cdpn.io/33381/profile/profile-512_1.jpg" alt="User Avatar of Michael Lee">
    <div class="profile-names">
      <h1 class="profile-name">Michael Lee</h1>
      <div class="profile-handle">@michaellee</div>
    </div>
    <div class="profile-bio">
      I like eating pizza and writing code.<br>On the weekends I like taking my pet turtle out for walks.
    </div>
  </div>
</div>

<div class="note">This is a quick prototype for the profiles view on CodeHive. Change the text and background color by using the drop icon in the top right.<br /><br /> Live version will be up soon at <a href="https://www.codehive.io" target="_blank">codehive.io</a>.</div>