Showing guides in:
<%=@trip.city.name%>
<%@users.each do |user|%>
	<h3><%= link_to(user.name, user_path(user)) %></h3>
	<%= link_to(image_tag(user.image_url),user_path(user)) %>

	<%=user.description%>

	<%user.activities.each do |activity|%>
		<p><%=activity.name%></p>
		
		<%=form_for Tour.new do |f|%>
			<%= f.hidden_field :activity_id, value: activity.id%>
			<%= f.hidden_field :trip_id, value: @trip.id%>
			<%= f.label :start_time%>
			<%= f.time_field :start_time%>
			<%= f.label :end_time %>
			<%= f.time_field :end_time%>
			<%= f.submit "Book Tour"%>
		<%end%>
	<%end%>	
<%end%>

* Make users Clickable