<%=@trip.city.name%>
<%@users.each do |user|%>
	<p><%=user.name%></p>
	<img src="<%=user.image_url%>">
	<%=user.description%>
	<%user.activities.each do |activity|%>
		<p><%=activity.name%></p>
		<%=form_for Tour.new do |f|%>
			<%= f.hidden_field :activity_id, value: activity.id%>
			<%= f.hidden_field :trip_id, value: @trip.id%>
			<%= f.label :start_time%>
			<%= f.date_field :start_time%>
			<%= f.label :end_time %>
			<%= f.date_field :end_time%>
			<%= f.submit "Book Tour"%>
		<%end%>
	<%end%>	
<%end%>