<center><h1> Profile </h1></center>

<center><legend>Personal information:</legend></center>

<img src="<%= current_user.image_url %>">


<p><%= current_user.name %><p>
<p>Location: <%= current_user.city.name %><br></p>
Contact Info:
<p>Email: <%= current_user.email %><br></p>
<%= link_to "Edit", edit_user_path(current_user), :class => "btn btn-info btn-sm"%>
