<center>
  <h1> My Profile </h1>

  <legend>Personal information:</legend>

  <img src="<%= current_user.image_url %>" height="72" weight="72">
  <p><h4><%= current_user.name %></h4></p>
  <b>Location: </b><p><%= current_user.city.name %></p>
  <b>Email: </b><%= current_user.email %><br></p>


  <%= link_to "Edit", edit_user_path(current_user), :class => "btn btn-info btn-sm"%>
  <%= link_to "Make New Trip", new_trip_path, :class => "btn btn-info btn-sm"%>
  <%= link_to "Make New Activity", new_activity_path, :class => "btn btn-info btn-sm"%>

  <br><b>You are Hosting the Following activities:</b></br>
  <% current_user.activities.each do |activity| %>
    <p><%= link_to(activity.name, activity_path(activity)) %></p>
  <% end %>

  <br><b>Upcoming Trips:</b></br>
    <%if current_user.trips.empty? %>
    <%="No Upcoming Trips"%>
    <%else%>   
      <% current_user.trips.each do |trip|%>
        <% if trip.start_date > Date.today%>
          <%= link_to(trip.city.name, trip_path(trip)) %>
        <%end%>   
      <%end%>
    <%end%>   


  <br><b>Past Trips:</b></br>
    <% current_user.trips.each do |trip|%>
      <% if trip.start_date < Date.today%>
        <%= link_to(trip.city.name, trip_path(trip)) %>
      <%end%> 
    <%end%>

  <div class="container" "row">
      <h3><%= link_to "My Notifications", notifications_path %></h3>

   Add Availability: 
  <%=form_for Availability.new do |f|%><br>
      <%= f.hidden_field :guide_id %>
      <%= f.label :start_date %>
      <%= f.date_select :start_date %>
      <%= f.label :end_date %>
      <%= f.date_select :end_date %>
      <%= f.submit%>
  <%end%>
</center>
</div>

