<center><h1> My Profile </h1></center>

<center><legend>Personal Info:</legend></center>

<center><img src="<%= current_user.image_url %>" height="72" weight="72">
<p><h4><%= current_user.name %></h4></p>
<b>Location: </b><p><%= current_user.city.name %></p>
<b>Email: </b><%= current_user.email %><br></p></center>


<center><%= link_to "Edit", edit_user_path(current_user), :class => "btn btn-info btn-sm"%>
<%= link_to "Make New Trip", new_trip_path, :class => "btn btn-info btn-sm"%>
<%= link_to "Make New Activity", new_activity_path, :class => "btn btn-info btn-sm"%></center>

<center><br><b>All activities:</b></br>
<% current_user.activities.each do |activity| %>
  <p>
    <%= link_to(activity.name, activity_path(activity)) %>
  </p>
<% end %></center>

<center><br><b>All Trips Locations:</b></br>
<% current_user.trips.each do |trip|%>
  <p>
    <%= link_to(trip.city.name, trip_path(trip)) %></p>
<%end%></center>
