<div class="background-color">
<div class="container">
  <div class="row">
    <div class="col-md-4"><center><br><br>
      <p><%=render 'avatar'%></p></center>
      <center><h3>Change Avatar</h3>

      <%= direct_upload_form_for @uploader do |f| %>
        <%= f.file_field :avatar %>
        <%= f.submit "Upload Image" %>
      <% end%></center>

    </div>
    <div class="col-md-8"><br><br>
      <p><h1><%= current_user.name %></h1></p>
      <p><b>Residence: </b><h4><b><%= current_user.city.name %></b></h4></p>
      <p><b>Contact Me At: </b></p><h4><p><b><%= current_user.email %><br></h4></b>
      <p><b> Bio: </b></p><h4><p><b><%= current_user.description %><br></h4></p></b>
      <p><b>Current Votes:
      <%= current_user.reputation_for(:votes).to_i %></b></p>
      <%= link_to "Edit Personal Info", edit_user_path(current_user)%>
    </div>
  </div>
</div>
 
  <br><br><br><br>

<div class="container"><center>
  <div class="row">
    <div class="col-md-3">
      <%= link_to "New Activity", new_activity_path, :class => "geraldina" %><br><br>
      <p><b>You are hosting the the following tour activities:</b><br></p>
      <% current_user.activities.each do |activity| %>
        <p><%= link_to(activity.name, activity_path(activity)) %></p>
          <% end %>
    </div>
      
    <div class="col-md-5"><center>
      <%= link_to "Add New Trip", new_trip_path, :class => "geraldina"%></p>
      <p><b>Upcoming Trips:</b></br>
      <%if current_user.trips.empty? %>
        <%="No Upcoming Trips"%>
      <%else%>   
        <% current_user.trips.each do |trip|%>
          <% if trip.start_date > Date.today%>
            <p><%= link_to(trip.city.name, trip_path(trip))%></p>
          <%end%>   
        <%end%>
      <%end%>

      <b>Past Trips:</b></br>
      <% current_user.trips.each do |trip|%>
        <% if trip.start_date < Date.today%>
          <p><%= link_to(trip.city.name, trip_path(trip)) %></p>
        <%end%> 
      <%end%>
    </div>
    
    <div class="col-md-4">
      <%= link_to "Add Availability", new_availability_path, :class => "geraldina"%><br>
      <p><%=render 'availability'%></p>
    </div>
    </center>

  </div>
</div>
</div>