<center>
  <h1> <%=@user.name%>'s Profile</h1>
  <legend>General Info:</legend>
      
  <%=render 'avatar'%>
  <p><h4><%= @user.name %></h4></p>
  <b>Residence: </b><h4><p><b><%= current_user.city.name %></p></h4>
  <b>Contact Me At: </b><h4><%= current_user.email %><br></p></h4>


  <h4><b>All activities <%=@user.name%> is Hosting:</b><br></h4>
  <% @user.activities.each do |activity| %>
      <p><%= link_to(activity.name, activity_path(activity)) %></p>
  <% end %>

  Availability for Tours:<br>
    <%=render 'availability'%>
    </div>
</center>
