<br><br>
<center><legend><h1>Activity: <%= @activity.name %></h1></legend></center>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br><br><br><br><br><center>
        <h5>Description:</h5><h4> <%= @activity.description %></h4>
          <%=image_tag @activity.avatar_url(:thumb)%>
        <br><h5>Location:  </h5><h4><% @activity.locations.each do |location|%>
            <%=location.name%><br></h4>
        <br><h5>Address: </h5><h4><%=location.address%><br><br></h4>
        <%end%>
      
          <%unless params[:trip_id] == nil %>   
            <%=form_for Tour.new do |f|%>   
              <%= f.hidden_field :activity_id, value: @activity.id%>
              <%= f.hidden_field :trip_id, value: params[:trip_id]%>
              <center><%= f.label :start_time %></center>
              <%= f.datetime_select :start_time%><br><br><br>
              <center><%= f.label :end_time %></center>
              <%= f.datetime_select :end_time%><br><br>
              <%= f.submit "Request Tour", :class => "stephanie"%>
           <%end%>
        <%end%>
      </center>
    </div>
    <div class="col-md-6"><br><br><br><br>
      <div style='width: 800px;'>
        <div id="map" style='width: 700px; height: 400px;'></div><br>
      </div>

      <center><%= link_to "Edit", edit_activity_path(@activity), :class => "stephanie"%>
      <%= link_to "Back to Profile", profile_path, :class => "stephanie"%>
      <%= link_to 'Destroy', activity_path(@activity), :class => "stephanie"%></center>
    </div>
  </div>
</div>

<script type="text/javascript">
  var rawMarkers = <%=raw @location_json.to_json %>;
</script>
</center>