<center><% if @availability.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@availability.errors.count, "error") %> 
          prohibited this activity from being saved:</h2>
    <ul>
      <% @availability.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </ul>
  </div>
<% end %></center>

<br><br><br><br>

<legend><center><h1>Add Times You're Available</h1></center></legend>

<center><h3> Add an Availability: </h3></center>
<center><%=form_for @availability do |f|%><br>
  <%= f.hidden_field :guide_id, value: current_user.id%>
  <p><h4><%= f.label :day_id, "Select Day" %> </h4></p>
  <%= f.collection_select :day_id, Day.all, :id, :name%>
  <br><br><p><h4><%= f.label :start_time %></h4></p>
  <%= f.time_field :start_time %>
  <br><br><p><h4><%= f.label :end_time %></h4></p>
  <%= f.time_field :end_time %><br><br>
  <p><%= f.submit "Edit", :class => "stephanie"%></p>
<%end%></center>
</center>